<div class="container">
  <div>
    <p>{{ comment.body }}</p>
  </div>
  <div class="footer">
    <div class="inner">
      <img src="{{ comment.author?.image }}" />
      &nbsp;

      <span
        class="username"
        [routerLink]="['/', 'profile', comment.author.username]"
        >{{ comment.author?.username }}</span
      >
      &nbsp;
      <small>{{ comment.createdAt | date }}</small>
    </div>
    <div>
      <button
        mat-icon-button
        [disabled]="!canEdit"
        [color]="canEdit ? 'warn' : ''"
        aria-label="Example icon button with a heart icon"
        (click)="deleteComment.emit(comment.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
